.navbar-background {
  background-image: url(background.jpg);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
}

.header-text-holder {
  text-align: center;
  color: white;
}

.home-body-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.list-group .list-group-item h3 {
  font-size: 1.3em;
}

.home-body-content .my_card {
  margin-bottom: 25px;
  transition-duration: 0.4s;
}
.my_card:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s;
}
.my_card h3 {
  font-size: 1.2em;
}
footer.main-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgb(255, 255, 255);
  background-color: black;
}
footer.main-footer p {
  margin: 0px;
}
.logo {
  margin-right: 3.75rem;
  padding: 20px;
  font-weight: 700;
  font-size: 1.6rem;
}
.navbar-section {
  position: relative;
  top: 0;
  z-index: 10;
}
.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: 700;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  position: relative;
}

/* a:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  color: #fffbfb !important;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
} */

a:hover:after {
  transform: scaleX(0.5);
}
